include pug/common/head.pug
	block content
		include pug/common/header.pug
		main#main
			section.how_order.about_us
				.container-fluid
					.row
						.col-xs-12
							h1.title.main О нас
						.row
							.item.col-xs-12
								.col-md-2
									.picture
										img(src="assets/images/medal.png", alt="medal")
								.col-md-10
									.text
										.title
											p Качество от проверенного поставщика
										.main 
											p В современное время присутствие специальной техники в сельском хозяйстве свидетельствует о его процветании и надежности. Даже самые малые частные хозяйства пользуются помощью различных машин.
							.item.col-xs-12
								.col-md-2
									.picture
										img(src="assets/images/technical-support.png", alt="technical-support")
								.col-md-10
									.text
										.title
											p Услуги компании «Moto-Kosmos»
										.main 
											p Интернет-магазин «Moto-Kosmos» занимается продажей техники для агропромышленной области уже больше 10 лет. Несмотря на то, что наша компания существует не так давно, она успела зарекомендовать себя, как одна из лучших в обслуживающей сфере на территории Украины.
											p Наши специалисты помогут сделать правильный выбор, приняв во внимание все ваши пожелания и возможности.
											p Также компания имеет собственную сервисную станцию, которая предоставляет услуги по ремонту и подготовке техники к сезонным работам.
							.item.col-xs-12
								.col-md-2
									.picture
										img(src="assets/images/fire.png", alt="fire")
								.col-md-10
									.text
										.title
											p Немного о брендах
										.main 
											p 
												strong В современное время существует много разных фирм, которое занимаются производством агротехники. Мы предлагаем технику только самых популярных и надежных из них. Это:
											ul
												li «Кентавр». В сравнении с другими – это недорогие машины, которые поставляют из Китая.
												li «Zirka» – лидер среди малогабаритной техники. Она имеет отличное соотношение «цена-качество».
												li «Forte» выпускается в Китае.
												li «Honda» характеризуется повышенной прочностью.
												li «Stiga». Оборудование данного бренда имеет дополнительные показатели.
												li «Iron Angel» имеет голландское происхождение.
												li «Husgvuarna» модели очень легкие в управлении.
											p
												strong Как работает компания
											p
												strong Схема работы магазина:
											ul
												li получение заказа;
												li предоставление информации о наличии товара;
												li доставка (24 часа);
												li оплата услуг.
											p Почему необходимо заказывать именно у нас
							.item.col-xs-12
								.col-md-2
									.picture
										img(src="assets/images/startup.png", alt="startup")
								.col-md-10
									.text
										.title
											p Наши преимущества:
										.main 
											ol
												li Возможность предоставления кредита.
												li Наличие всех необходимых запчастей для техники.
												li Сервисное обслуживание – работники компании осуществляют ремонт машин в любое время суток. Также они предоставляют свои услуги в помощи при подготовке к выполнению сезонных работ.
											p Бонус – к каждому трактору компания дарит масло в подарок.
											p
												strong Бонус – к каждому трактору компания дарит масло в подарок.
											ul
												li качественную технику;
												li широкий ассортимент;
												li консультационную помощь;
												li оптимальные цены;
												li никакой предоплаты;
												li удобную форму оплаты;
												li резервацию товара при заказе с сайта;
												li доставку товара;
												li гарантийные права (от 1 до 6 лет).
											p Просто свяжитесь с нами по телефонам, указанным на сайте, и мы облегчим вашу жизнь.
			section.consultation
				.title.text-center Заказать консультацию
				.container-fluid
					.row.row-flex
						.col-xs-12.text-center
							.inputs
								input(type="text" placeholder='Ваше имя')
								input(type="tel" placeholder='Номер телефона')
								input(type="email" placeholder='E-mail')
						.col-xs-12.text-center
							input(type='submit' value='Оформить заказ')
		include pug/common/footer.pug