include pug/common/head.pug
	block content
		include pug/common/header.pug
		main#main
			section.how_order.catalog
				.container-fluid
					.row
						.col-xs-12
							h1.title Мототракторы
					.row
						.col-md-3
							.filters
								.filter
									.name Производитель
									.items
										.item
											.checkbox
												input(type="checkbox" id='1')
												label(for="1")
											label(for="1").text_checkbox.text-uppercase МОТОТРАКТОРЫ GARDEN SCOUT (3)
										.item
											.checkbox
												input(type="checkbox" id='2')
												label(for="2")
											label(for="2").text_checkbox.text-uppercase МОТОТРАКТОРЫ GARDEN SCOUT (3)
										.item
											.checkbox
												input(type="checkbox" id='3')
												label(for="3")
											label(for="3").text_checkbox.text-uppercase МОТОТРАКТОРЫ GARDEN SCOUT (3)
										.item
											.checkbox
												input(type="checkbox" id='4')
												label(for="4")
											label(for="4").text_checkbox.text-uppercase МОТОТРАКТОРЫ GARDEN SCOUT (3)
										.item
											.checkbox
												input(type="checkbox" id='5')
												label(for="5")
											label(for="5").text_checkbox.text-uppercase МОТОТРАКТОРЫ GARDEN SCOUT (3)
								.filter
										.name МОЩНОСТЬ Л.С.
										.items
											.item
												.checkbox
													input(type="checkbox" id='6')
													label(for="6")
												label(for="6").text_checkbox.text-uppercase 15 Л.С. (9)
											.item
												.checkbox
													input(type="checkbox" id='7')
													label(for="7")
												label(for="7").text_checkbox.text-uppercase 15 Л.С. (9)
											.item
												.checkbox
													input(type="checkbox" id='8')
													label(for="8")
												label(for="8").text_checkbox.text-uppercase 15 Л.С. (9)
											.item
												.checkbox
													input(type="checkbox" id='9')
													label(for="9")
												label(for="9").text_checkbox.text-uppercase 15 Л.С. (9)
						.col-md-9
							.filtered_items
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
			section.consultation
				.title.text-center Заказать консультацию
				.container-fluid
					.row.row-flex
						.col-xs-12.text-center
							.inputs
								input(type="text" placeholder='Ваше имя')
								input(type="tel" placeholder='Номер телефона')
								input(type="email" placeholder='E-mail')
						.col-xs-12.text-center
							input(type='submit' value='Оформить заказ')
		include pug/common/footer.pug