include pug/common/head.pug
  block content
    include pug/common/header.pug
    main#main
      section.main_banner
        .container-fluid
          .row
            .col-md-8.col-xs-12
              .picture
                img(src="assets/images/main_ban_bg.png", alt="")
            .col-md-4.col-xs-12
              form.ask_menedger
                .title Задать вопрос менеджеру
                input(type='text' placeholder='Ваше имя')
                input(type='text' placeholder='Номер телефона')
                input(type='submit' value='Заказать звонок')