include pug/common/head.pug
  block content
    include pug/common/header.pug
    main#main
      section.main_banner
        .container-fluid
          .row
            .col-md-8.col-xs-12
              .picture
                img(src="assets/images/main_ban_bg.png", alt="")
            .col-md-4.col-xs-12
              form.ask_menedger
                .title Задать вопрос менеджеру
                input(type='text' placeholder='Ваше имя')
                input(type='text' placeholder='Номер телефона')
                input(type='submit' value='Заказать звонок')
      section.categories
        .container-fluid
          .row.row-flex
            .col-md-4.col-sm-6.col-xs-12
              .category
                .img
                  img(src="assets/images/category.png", alt="category")
                a(href="#").title.text-center Мототракторы
            .col-md-4.col-sm-6.col-xs-12
              .category
                .img
                  img(src="assets/images/category.png", alt="category")
                a(href="#").title.text-center Мототракторы
            .col-md-4.col-sm-6.col-xs-12
              .category
                .img
                  img(src="assets/images/category.png", alt="category")
                a(href="#").title.text-center Мототракторы
            .col-md-4.col-sm-6.col-xs-12
              .category
                .img
                  img(src="assets/images/category.png", alt="category")
                a(href="#").title.text-center Мототракторы
            .col-md-4.col-sm-6.col-xs-12
              .category
                .img
                  img(src="assets/images/category.png", alt="category")
                a(href="#").title.text-center Мототракторы
            .col-md-4.col-sm-6.col-xs-12
              .category
                .img
                  img(src="assets/images/category.png", alt="category")
                a(href="#").title.text-center Мототракторы
      section.tabs
        .container-fluid
          .row
            .col-xs-12
              .navigation
                span.item.active Топ продаж
                span.item Акции
                span.item Новинки
              .products
                .section.active_tab.tabs_slider
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                .section.tabs_slider
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                .section.tabs_slider
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
      section.news
        .container-fluid
          .title.text-center Новости
          .row.row-flex
            .col-md-3.col-sm-6.col-xs-12
              .item
                .img
                  img(src="assets/images/news-img.png", alt="")
                .title
                  strong 
                    a(href="#") Навесное оборудование для минитракторов: как правильно выбрать?
                .text
                  p Большинство хозяев земельных участков имеют значительные по площади владения, обработать которые зачастую бывает крайне сложно. Эту проблему можно решить путем приобретения минитрактора, естественно, обладающего всей требуемой комплектацией. 
            .col-md-3.col-sm-6.col-xs-12
              .item
                .img
                  img(src="assets/images/news-img.png", alt="")
                .title
                  strong 
                    a(href="#") Навесное оборудование для минитракторов: как правильно выбрать?
                .text
                  p Большинство хозяев земельных участков имеют значительные по площади владения, обработать которые зачастую бывает крайне сложно. Эту проблему можно решить путем приобретения минитрактора, естественно, обладающего всей требуемой комплектацией. 
            .col-md-3.col-sm-6.col-xs-12
              .item
                .img
                  img(src="assets/images/news-img.png", alt="")
                .title
                  strong 
                    a(href="#") Навесное оборудование для минитракторов: как правильно выбрать?
                .text
                  p Большинство хозяев земельных участков имеют значительные по площади владения, обработать которые зачастую бывает крайне сложно. Эту проблему можно решить путем приобретения минитрактора, естественно, обладающего всей требуемой комплектацией. 
            .col-md-3.col-sm-6.col-xs-12
              .item
                .img
                  img(src="assets/images/news-img.png", alt="")
                .title
                  strong 
                    a(href="#") Навесное оборудование для минитракторов: как правильно выбрать?
                .text
                  p Большинство хозяев земельных участков имеют значительные по площади владения, обработать которые зачастую бывает крайне сложно. Эту проблему можно решить путем приобретения минитрактора, естественно, обладающего всей требуемой комплектацией.
      section.about_company
        .container-fluid
          .title О компании
          .description
            p Интернет-магазин МОТО КОСМОС - один из крупнейших поставщиков техниики и необходимого оборудования для фермерских хозяйств, садоводства и любых отраслей аграрного сектора.  Внашем магазине можно приобрести мототракторы, мотоблоки, минитракторы,  любое навесное оборудования для выполнения любых видов работ в сельском хозяйстве - предпосевной обработки почвы, посева, защиты растений, внесения удобрений, орошения, уборки урожая, технику и удобрения для животноводства , а также микроудобрения и стимуляторы роста растений.
            p Все предлагаемая техника и оборудование отвечают самым современным стандартам и прибрести его можно только у нас по самым привлекательным ценам в Украине. Гарантия от производителя, доставка до двери, бесплатная сборка и масло в подарок - вот основные причины, по которым мототрактора и мотоблоки стоит покупать именно у нас. Также явным показателем нашей лояльности является - полное отсутствие предоплаты, содействие в кредитовании покупки, различные специальные предложения и акционные цены к каждому сезону.
            p Автоматизируйте свой труд и повышайте производительность с интернет-магазином МОТО КОСМОС. Обрабатывайте больше земли и собирайте больше урожая и сберегите больше времени для других целей.
      section.our_partners
        .container-fluid
          .title.text-center Наши бренды 
          .row
            .col-xs-12
              .brands_carusel
                .item
                  img(src="assets/images/brand1.png", alt="")
                .item
                  img(src="assets/images/brand2.png", alt="")
                .item
                  img(src="assets/images/brand3.png", alt="")
                .item
                  img(src="assets/images/brand4.png", alt="")
                .item
                  img(src="assets/images/brand5.png", alt="")
                .item
                  img(src="assets/images/brand1.png", alt="")
                .item
                  img(src="assets/images/brand2.png", alt="")
                .item
                  img(src="assets/images/brand3.png", alt="")
                .item
                  img(src="assets/images/brand4.png", alt="")
                .item
                  img(src="assets/images/brand5.png", alt="")
      section.consultation
        .title.text-center Заказать консультацию
        .container-fluid
          .row.row-flex
            .col-xs-12.text-center
              .inputs
                input(type="text" placeholder='Ваше имя')
                input(type="tel" placeholder='Номер телефона')
                input(type="email" placeholder='E-mail')
            .col-xs-12.text-center
              input(type='submit' value='Оформить заказ')
    include pug/common/footer.pug


