include pug/common/head.pug
  block content
    include pug/common/header.pug
    main#main
      section.main_banner
        .container-fluid
          .row
            .col-md-8.col-xs-12
              .picture
                img(src="assets/images/main_ban_bg.png", alt="")
            .col-md-4.col-xs-12
              form.ask_menedger
                .title Задать вопрос менеджеру
                input(type='text' placeholder='Ваше имя')
                input(type='text' placeholder='Номер телефона')
                input(type='submit' value='Заказать звонок')
      section.categories
        .container-fluid
          .row.row-flex
            .col-sm-4
              .category
                .img
                  img(src="assets/images/category.png", alt="category")
                a(href="#").title.text-center Мототракторы
            .col-sm-4
              .category
                .img
                  img(src="assets/images/category.png", alt="category")
                a(href="#").title.text-center Мототракторы
            .col-sm-4
              .category
                .img
                  img(src="assets/images/category.png", alt="category")
                a(href="#").title.text-center Мототракторы
            .col-sm-4
              .category
                .img
                  img(src="assets/images/category.png", alt="category")
                a(href="#").title.text-center Мототракторы
            .col-sm-4
              .category
                .img
                  img(src="assets/images/category.png", alt="category")
                a(href="#").title.text-center Мототракторы
            .col-sm-4
              .category
                .img
                  img(src="assets/images/category.png", alt="category")
                a(href="#").title.text-center Мототракторы
      section.tabs
        .container-fluid
          .row
            .col-xs-12
              .navigation
                span.item.active Топ продаж
                span.item Акции
                span.item Новинки
              .products
                .section.active_tab.tabs_slider
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                .section.tabs_slider
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                .section.tabs_slider
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
                  .item.category
                    .img
                      img(src="assets/images/category2.png", alt="category")
                    .description
                      p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
                    .cost 79 885 грн
                    .button Купить
      section.news
        .container-fluid
          .title.text-center Новости
          .row
            .col-md-3
            .col-md-3
            .col-md-3
            .col-md-3

    include pug/common/footer.pug


