include pug/common/head.pug
block content
	include pug/common/header.pug
	main#main
		section.how_order.product
			.container-fluid
				.row
					.col-xs-12
						h1.title.product МОТОТРАКТОР ФАЙТЕР Т24
					.row
						.col-md-6
							.product_wrap
								.inner
									.big_product_carusel
										.item
											img(src="assets/images/23.png", alt="")
										.item
											img(src="assets/images/23.png", alt="")
										.item
											img(src="assets/images/23.png", alt="")
										.item
											img(src="assets/images/23.png", alt="")
										.item
											img(src="assets/images/23.png", alt="")
									.small_product_carusel
										.item
											img(src="assets/images/23.png", alt="")
										.item
											img(src="assets/images/23.png", alt="")
										.item
											img(src="assets/images/23.png", alt="")
										.item
											img(src="assets/images/23.png", alt="")
										.item
											img(src="assets/images/23.png", alt="")
						.col-md-3
							.cost_wrap.text-center
								.cost
									span 79 885 грн
								.button Купить сейчас
								.free_delivery
									.img
										img(src="assets/images/shape-1.png", alt="")
									.text Бесплатная доставка 
								.button.white Купить в один клик
								.button.white Купить в кредит
								.simple_description
									.title Краткое описание
									.item
										.name Двигатель
										.info ZS1115
									.item
										.name Мощность
										.info 24 л.с.
									.item
										.name Передач
										.info (3 + 1) × 2
									.item
										.name Масса
										.info 780 кг
						.col-md-3
							.more_info
								.item
									.img
										img(src="assets/images/shipped.png", alt="")
									.text
										.title Доставка
										p Самовывоз – 0 грн
										p Курьер – 50 0 грн
										p Новая Почта – 50 0 грн
								.item
									.img
										img(src="assets/images/credit-card.png", alt="")
									.text
										.title Оплата
										p Наличные
										p Безналичные
										p Кредит
								.item
									.img
										img(src="assets/images/paper.png", alt="")
									.text
										.title Гарантия
										p 25 лет официальная гарантия от производителя
								.item
									.img
										img(src="assets/images/back-arrow.png", alt="")
									.text
										.title Возврат
										p 14 дней на возврат товара без лишних вопросов
		section.product_tabs
			.container-fluid
				.row
					.col-xs-12
						.tabs
							.item
								span Описание
							.item
								span Технические характеристики 
							.item
								span Отзывы (3)
					.col-xs-12
						.tab_content.description
							.title Смотрите видеообзор мототрактора
							.video
								video()
									source(src="https://www.youtube.com/watch?v=ytQ5CYE1VZw&index=27&list=RDw5tWYmIOWGk")
								.play_button
									img(src="assets/images/play-button.png", alt="")
							.name
								p Мототрактор Файтер Т 24: основные характеристики, отзывы, цена
							.detail_description
								p Прошёл всего год с тех пор, как украинские фермеры выстраивались в очередь за мототрактором Файтер Т 18. И вот, на дворе уже 2017 и производитель снова радует нас новой моделью этой серии. На этот раз Украина встречает на своих рынках новинку - мототрактор Файтер Т 24, купить который можно в нашем интернет-магазине. 
								p Приняв за основу всё самое лучшее, что было Файтерах 12, 15 и 18, инженеры, изучив отзывы и пожелания пользователей, произвели доработку некоторых узлов, представив широкой публике современный мототрактор Файтер Т 24 с двигателем невиданной ранее для мини универсалов мощностью в 24 л/с и оборотом в 2200 ед./мин.
								p Великолепная мощность обеспечивает возможного хорошего тягового усилия и, в свою очередь, высокий КПД при выполнении таких работ как пахота или культивация. Система водяного охлаждения стала ещё более надёжной.
								p В связи с тем, что более мощный мотор имеет больший по сравнению с предшественниками вес, была изменена и усилена конструкция рамы. Кроме того, это позволило увеличить её живучесть при постоянных нагрузках переднего навесного оборудования. 
								p Гидравлическая система подверглась незначительным изменениям. Её работе способствует применение двухсекционного гидравлического распределителя, и трёх фиксируемых положений рычага: верхний, нижний и плавающий. 
								p Учтя некоторые проблемы с ремнями, которые передают крутящий момент, на Файтер Т 24 установлены более прочные и долговечные ремни В3250. А чтобы мощность движка реализовывалась с максимальной отдачей, трактор получил новые увеличенные колёса размерами 6.00-12 и 7.75-20 дюймов.
								p Кроме того, следует отметить такую важную функцию как изменение ширины колеи – это позволяет добиться максимальной функциональности в любых условиях работы. 
								p Таким образом, заключим, что несмотря на все достоинства прошлый поколений Файтера, в 2017 году имеет смысл отдать предпочтение и купить именно мототрактор Файтер Т 24. Эта сельхоз техника станет вашим верным помощником на долгие годы.     
						.tab_content.table
							table
								tr.title
									td(colspan='2') Двигатель
								tr
									td Метод запуска:
									td Электростартер
								tr
									td Ход поршня
									td 115 мм
								tr
									td Объем двигателя:
									td 1246 см3
								tr
									td Максимальная мощность:
									td 24 л.с.
								tr
									td Номинальная мощность:
									td 18 л.с.
								tr
									td Система охлаждения:
									td Водяное
								tr
									td Смазка:
									td Шестеренчатый насос
								tr
									td Масса двигателя:
									td 230 кг
								tr
									td Габаритные размеры двигателя CL25NM, мм
									td 2200 об/мин
								tr.title
									td(colspan='2') Общие характеристики мототрактора
								tr
									td Метод запуска:
									td Электростартер
								tr
									td Ход поршня
									td 115 мм
								tr
									td Объем двигателя:
									td 1246 см3
								tr
									td Максимальная мощность:
									td 24 л.с.
								tr
									td Номинальная мощность:
									td 18 л.с.
								tr
									td Система охлаждения:
									td Водяное
								tr
									td Смазка:
									td Шестеренчатый насос
								tr
									td Масса двигателя:
									td 230 кг
								tr
									td Габаритные размеры двигателя CL25NM, мм
									td 2200 об/мин
						.tab_content
							.comments
								.comment
									.top
										.name
											.text Юрий Бенедиктович
											.position Покупатель
										.stars
											.star
												img(src="assets/images/polygon-2.png", alt="")
											.star
												img(src="assets/images/polygon-2.png", alt="")
											.star
												img(src="assets/images/polygon-2.png", alt="")
											.star
												img(src="assets/images/polygon-2.png", alt="")
											.star
												img(src="assets/images/polygon-2.png", alt="")
										.date 14 марта 2017
									.content
										p Нормальный рабочий котел, реально по качеству очень порадовал – чугунный добротный корпус, чугунный теплообменник, качествен- но собран, тем более цена довольно адекватная, по конструкции - все продумано, все функционально, можно использовать несколько видов твердого топлива, что удобно. В целом я очень доволен котлом, даже в самые...
											span.more Еще
									.bottom
										.like
											.img
												img(src="assets/images/like.png", alt="")
											.text Нравится
										.leave_comment
											.img
												img(src="assets/images/comment.png", alt="")
											.text Комментировать
										.leave_complaint
											.img
												img(src="assets/images/dots.png", alt="")
											.text Пожаловаться
								.comment_area
									textarea
									.button Отправить
		section.simple_products
			.container-fluid
				.title Рекомендуемые товары
				.row
					.col-xs-12
						.products
							.section.tabs_slider
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
								.item.category
									.img
										img(src="assets/images/category2.png", alt="category")
									.description
										p DEUTZ FAHR, запчасти МТЗ К-700, Т-150, запчасти УАЗ, ГАС
									.cost 79 885 грн
									.button Купить
		section.consultation
			.title.text-center Заказать консультацию
			.container-fluid
				.row.row-flex
					.col-xs-12.text-center
							.inputs
								input(type="text" placeholder='Ваше имя')
								input(type="tel" placeholder='Номер телефона')
								input(type="email" placeholder='E-mail')
					.col-xs-12.text-center
						input(type='submit' value='Оформить заказ')
	include pug/common/footer.pug