include pug/common/head.pug
	block content
		include pug/common/header.pug
		main#main
			section.how_order.promises
				.container-fluid
					.row
						.col-xs-12
							h1.title Гарантия
							h2.subtitle Гарантия и сервис
							ul.list
								li На все товары, которые продаются в нашем магазине, 
									strong мы предоставляем гарантию.
									|  Её срок может составлять от 1 до 7 лет в зависимости от производителя. 
								li Изделие проверяется на полноту комплектации и 
									strong отсутствие дефектов
									|  в присутствии покупателя в точке продажи или в точке получения товара. 
								li 
									strong Риски
									|  связанные с возможным повреждением или утратой изделия, с момента получения товара несёт покупатель.
								li Проведение замены товара или возврат денежных средств покупателю производится в случае, если по результатам независимой экспертизы, проводимой сертифицированным сервисным центром, 
									strong изделие признано не поддающимся ремонту.
								li Гарантия не распространяется на случаи, когда части нуждаются в ремонте или замене 
									strong по причине их морального износа.
								li Указанные условия соответствуют действующему законодательству Украины и не ущемляют законных прав и интересов покупателя. 
								li При получении покупатель обязуется осмотреть доставленный курьером товар. В случае, если имеются претензии ко внешнему виду изделия или же оно не соответствует ожидаемым параметрам, его следует вернуть курьеру без вскрытия упаковки для дальнейшей замены изделия. Претензии ко внешнему виду могут быть приняты только в момент доставки. 
			section.consultation
				.title.text-center Заказать консультацию
				.container-fluid
					.row.row-flex
						.col-xs-12.text-center
							.inputs
								input(type="text" placeholder='Ваше имя')
								input(type="tel" placeholder='Номер телефона')
								input(type="email" placeholder='E-mail')
						.col-xs-12.text-center
							input(type='submit' value='Оформить заказ')
		include pug/common/footer.pug