doctype html
html(lang="en")
  head
    title= pageTitle2
    script(type='text/javascript')
  body
    h1 Pug - node template engine2
    #container.col
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.