@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon/icomoon.eot?c861pc');
  src:  url('../assets/fonts/icomoon/icomoon.eot?c861pc#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon/icomoon.ttf?c861pc') format('truetype'),
    url('../assets/fonts/icomoon/icomoon.woff?c861pc') format('woff'),
    url('../assets/fonts/icomoon/icomoon.svg?c861pc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}