.small_card
	.close_inner
	.inner
		.close_small_card
		.container-fluid
			.title Корзина
			.items
				.item
					.picture
						img(src="assets/images/cart_img.png", alt="")
					.name
						span Мототрактор Garden Scout T18 Garden Scout T18
					.quantity
						.title Количество
						.quantity_input
							input(type="number")
							span.plus
							span.minus
					.total_cost
						.title Стоимость
						span 79 258 
							span грн
					.remove_item
				.item
					.picture
						img(src="assets/images/cart_img.png", alt="")
					.name
						span Мототрактор Garden Scout T18 Garden Scout T18
					.quantity
						.title Количество
						.quantity_input
							input(type="number")
							span.plus
							span.minus
					.total_cost
						.title Стоимость
						span 79 258 
							span грн
					.remove_item
			.footer
				.row
					.col-md-6
						.button_wrap
							.button.white Продолжить покупки
					.col-md-6.cost
						.total_cost
							span.text.text-uppercase ИТОГО:
							span.cost 132 458 
								span грн