body {
	font-family: $main;
}

#wrapper {
	position: relative;
	overflow: hidden;
}

.container-fluid {
	max-width: 1170px;
	position: relative;
}


[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\e900";
  color: #f61c0d;
}
.icon-facebook:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e902";
}
.icon-time:before {
  content: "\e903";
}
.icon-message:before {
  content: "\e904";
}
.icon-cart:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}

.mobile-hidden {
	display: none;

	@media (min-width: 992px) {
		display: block;
	}
}

.desktop-hidden {
	display: block;

	@media (min-width: 992px) {
		display: none;
	}
}

.row-flex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;

	& > div[class^='col'] {
		float: none;
	}
}

.button {
	background-color: $green;
	border-radius: 30px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	color: $gray;
	padding: 15px 45px 17px 45px;
	border: none;
	color: #fff;
	overflow: hidden;
	transition: opacity .3s;
	min-width: 190px;

	&:hover {
		opacity: .6;
		cursor: pointer;
	}
}

main {

	.container-fluid {
		max-width: 1024px;
	}
}

section.main_banner {
	position: relative;
	padding-top: 19px;

	.picture {
		display: flex;
		justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    @media (min-width: 992px) {
			margin-right: 12px;
		}
		
		img {
			max-width: 100%;
			max-height: 374px;

			@media (min-width: 768px) {
				min-height: 374px;
			}
		}
	}
}

form.ask_menedger {
	position: relative;
	background-color: #fff;
	padding: 44px 7px 41px 7px;
	box-shadow: 0 3px 17px -4px rgba(0, 0, 0, 0.6);
	text-align: center;
	
	.title {
		color: #000;
		font-size: 	18px;
		text-align: center;
		margin-bottom: 38px;
	}

	input[type="text"] {
		background-color: $gray-light;
		border-radius: 30px;
		text-align: center;
		font-size: 16px;
		color: $gray;
		width: 100%;
		height: 54px;
		border: none;
		margin-bottom: 22px;

		&:focus {
			outline: none;
		}
	}

	input[type="submit"] {
		margin-top: 15px;
	}
}

input[type="submit"] {
	background-color: $green;
	border-radius: 30px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	color: $gray;
	font-weight: 500;
	padding: 15px 45px 17px 45px;
	border: none;
	color: #fff;
	overflow: hidden;
	transition: opacity .3s;

	&:focus {
		outline: none;
	}

	&:hover {
		opacity: .6;
	}
}

input[type="text"],
input[type="tel"],
input[type="email"] {
	min-width: 244px;
	height: 58px;
	border: 1px solid $gray;
	padding: 25px 10px 25px 20px;
	font-size: 14px;
	color: $black;
	transition: all .3s;

	&:focus {
		outline: none;
		border-color: $blue-light;
	}
}  

section.categories {
	padding: 7px 0 0 0;
}

.category {
	position: relative;
	border: 1px solid $gray;
	padding: 32px 10px 45px 10px;
	margin-top: 20px;
	max-width: 100%;

	.title {
		display: block;
		width: 100%;
		font-size: 24px;
		color: $blue;
		font-weight: 600;
	}

	.img {
		text-align: center;
		overflow: hidden;
		margin-bottom: 65px;

		img {
			display: inline-block;
			max-height: 176px;
			max-width: 100%;
		}
	}
}

section.tabs {
	position: relative;
	padding: 53px 0 119px;

	.navigation {
		text-align: center;
		padding-bottom: 66px;
		
		.item {
			font-size: 24px;
			color: #000;
			position: relative;
			margin-right: 47px;
			cursor: pointer;
			font-weight: 600;

			&:hover:before {
				width: 71px;
			}

			&:last-child {
				margin-right: 0;
			}

			&:before {
				position: absolute;
				content: '';
				bottom: -23px;
				left: 50%;
				transform: translateX(-50%);
				background-color: $green;
				width: 0;
				height: 3px;
				transition: all .3s;
			}
		}

		.active {

			&:before {
				width: 71px;
			}
		}

	}

	.products {
		position: relative;

		.section {
			display: none;

			&.active_tab {
				display: block;
			}
		}

		.item {
			position: relative;
			text-align: center;
			min-width: 311px;
			padding-bottom: 32px;
			margin: 0 15px 0 15px;

			&:focus {
				outline: none;
			}

			.description {
				max-width: 235px;
				display: inline-block;
			}

			.cost {
				font-weight: 600;
				font-size: 24px;
				padding-bottom: 22px;
			}
		}
	}
}

section.news {
	position: relative;
	margin-bottom: 48px;
	
	.container-fluid {
		max-width: 1098px;
	}

	.title {
		font-weight: 600;
		font-size: 24px;
		color: $black;
		padding-bottom: 56px;
	}

	.item {
		position: relative;
		text-align: center;
		
		.img {
			text-align: center;
			overflow: hidden;
			margin-bottom: 23px;

			img {
				display: inline-block;
				max-height: 209px;
				max-width: 100%;
			}
		}

		.title {
			font-size: 16px;
			text-align: center;
			padding: 0;
			max-width: 400px;
			margin: 0 auto;
			margin-bottom: 27px;
		}

		.text {
			font-size: 14px;
			max-width: 400px;
			text-align: left;
			margin: 0 auto;
		}
	}

	a {
		text-decoration: none;
		color: $black;
		transition: all .3s;

		&:hover {
			text-decoration: underline;
			color: $blue;
		}
	}
}

section.about_company {
	position: relative;
	background: url('../assets/images/about_bg.png') 0 100% no-repeat;
	background-size: cover;
	padding: 110px 0 137px;
	margin-bottom: 90px;
	
	.container-fluid {
		max-width: 1098px;
	}

	.title {
		font-size: 30px;
		color: $white;
		font-weight: 600;
		padding-bottom: 60px;
	}

	.description {
		font-size: 14px;
		color: $white;

		p {
			margin-bottom: 28px;
		}
	}
}

section.our_partners {
	position: relative;
	margin-bottom: 118px;

	.container-fluid {
		max-width: 1000px;
	}

	.title {
		font-weight: 600;
		font-size: 24px;
		color: $black;
		padding-bottom: 56px;
	}
}

section.consultation {
	position: relative;
	margin-bottom: 23px;

	.container-fluid {
		max-width: 810px;
	}

	.title {
		color: $green;
		font-size: 30px;
		padding-bottom: 72px;
		font-weight: 500;
	}

	.inputs {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		margin-bottom: 37px;

		@media (min-width: 768px) {
			flex-direction: row;
		}

		input {
			margin-bottom: 10px;


			&:last-child {
				margin-right: 0;
			}

			@media (min-width: 768px) {
				margin-bottom: 0;
			}
		}
	}
}