header {
	position: fixed;
	background-color: $blue;
	min-height: 70px;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;

	@media (min-width: 992px) {
		position: relative;
	}
}

.header_empty {
	position: relative;
	width: 100%;
	min-height: 70px;
	
 	@media (min-width: 992px) {
		min-height: 0;
	}
}

.header_nav {
	display: none;

	@media (min-width: 992px) {
		display: block;
	}

	ul {
		display: flex;
		align-items: center;
		min-height: 70px;
		margin-bottom: 0;
	}
	
	.item {
		display: inline-block;
		vertical-align: middle;
		padding-right: 36px;
		position: relative;

		&:last-child {
			padding-right: 0;
		}

		a {
			color: #fff;
			text-decoration: none;
			font-size: 16px;
			transition: color .3s;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				bottom: -5px;
				border-radius: 4px;
				left: 0;
				width: 0;
				height: 2px;
				background-color: $green;
				transition: width .3s;
			}

			&:hover:before {
				width: 100%;
			}

			&:hover {
				color: $green;
			}
		}
	}
}

.header_buts {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	min-height: 70px;
	
	.item {
		position: relative;
		width: 30px;
		height: 27px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 25px;

		&.menu {
			display: flex;
			flex: 1 0 auto;
			justify-content: flex-end;
			align-items: center;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {

			i {
				color: $green;
			}
		}

		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 27px;
			color: #fff;
			transition: color .3s;
		}

		.quantity {
			position: absolute;
			right: -8px;
			top: -9px;
			height: 19px;
			width: 19px;
			background-color: $green;
			border-radius: 50%;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: #fff;
			}
		}
	}

	.burger {
		position: relative;
		width: 34px;
		height: 20px;

		@media (min-width: 992px) {
			display: none;
		}
		
		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 4px;
			background-color: $white;
			border-radius: 5px;
			transition: all .3s;
		}

		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 4px;
			background-color: $white;
			border-radius: 5px;
			transition: all .3s;
		}

		&:after {
			position: absolute;
			bottom: 0;
			content: '';
			left: 0;
			width: 100%;
			height: 4px;
			background-color: $white;
			border-radius: 5px;
			transition: all .3s;
		}

		&.active {

			span {
				width: 0;
			}

			&:before {
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
			}

			&:after {
				top: 50%;
				transform: translateY(-50%) rotate(-45deg);
			}
		}
	}

	.cart {

		i {
			font-size: 30px;
		}
	}
}

.header_banner {
	position: relative;
	background: url('../assets/images/header_bg.png') 50% 100% no-repeat;
	background-size: cover;
	min-height: 293px; 

	.text {
		font-size: 36px;
		color: #fff;
	}

	.banner {
		padding: 25px 0 0;
	}

	.logo {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}

.mobile_menu {
	position: fixed;
	top: -100%;
	visibility: hidden;
	left: 0;
	background-color: rgba($blue, .85);
	width: 100vw;
	height: 100vh;
	// overflow-y: scroll;
	transition: all .3s;
	z-index: 999;
	padding-top: 100px;

	.header_nav {
		display: block;

		ul {
			flex-direction: column;
			padding-left: 0;
			text-align: center;

			.item {
				padding: 0 0 13px;

				a {
					font-size: 20px;
				}
			}
		}
	}
}

