.brands_carusel {
	position: relative;
	width: 100%;

	.item {
		margin: 0 44px 0 44px;

		img {
			max-width: 116px;
			display: block;
			margin: 0 auto;
		}

		&:focus {
			outline: none;
		}

	}
	.slick-prev, .slick-next {
		width: 31px;
		height: 31px;
		border: 3px solid $gray2;
		border-left-color: transparent;
		border-top-color: transparent;
		border-radius: 3px;
		position: absolute;
		top: 50%;
		transition: all .3s;

		&:hover {
			border-color: $gray-light;
			border-left-color: transparent;
			border-top-color: transparent;
		}
	}

	.slick-next {
		right: -50px;
		transform: translateY(-50%) rotate(-45deg);
	}

	.slick-prev {
		left: -50px;
		transform: translateY(-50%) rotate(135deg);
	}
}