footer#footer
	.container-fluid
		.row.row-flex
			.col-md-4.col-xs-12
				.logo
					a(href="#")
						img(src="assets/images/logo.png", alt="MOTO KOSMOS")
				.text.rights
					p © 2012 - 2017 Все права защищены
			.col-md-4.col-xs-12
				.icons
					a(href="#").item.icon
						i.icon-facebook
					a(href="#").item.icon
						i.icon-youtube
					.item.text
						p Мы принимаем
					.item.cart
						img(src="./assets/images/visa.png", alt="")
					.item.cart
						img(src="./assets/images/mastercart.png", alt="")
			.col-md-4.col-xs-12
				.phones
					.left
						i.icon-phone
					.right
						span +380987537571
						span +380953185385
				.email
					.left
						i.icon-message
					.right
						.title Наш email:
						a(href="mailto:motokosmosinfo@gmail.com") motokosmosinfo@gmail.com
				.time
					.left
						i.icon-time
					.right
						.title Время работы
						span (Сб-Вс: 8:00-18:00)
script(src='./js/index.js')